* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*First top three override the default settings that might be in some browsers*/
    font-family: 'Gill Sans', 'Gill Sans MT';
}

body {
    padding: 2px;
}

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 10%; */
    background-image:linear-gradient(145deg,rgb(2, 2, 29), rgb(4, 53, 59));
    color: white;
    /* border-radius: 40px; */
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

/* .header li {
    margin-left: 3rem;
} */

.header a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.header a:hover {
    color: rgba(4, 183, 214, 0.815);
}

#invisible input {
    display: none;
}

